
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
    font-family: 'Roboto', sans-serif !important;
    background-color: #f0f2f3 !important;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: white;
  border-bottom: 1px solid #ddd;
}



.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  width: 90px;
}

.nav-item {
  margin: 0 10px;
}
.logo {
  width: 90px;
}

.search-input {
  width: 400px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 20px;
  outline: none;
}

.nav-link.position-relative {
  padding: 0;
}

.nav-link .badge {
  width: 20px;
  height: 20px;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
}



.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}


.nav-link {
  position: relative;
  padding-right: 0;
}


#darkModeButton {
  background-color: #000000; 
  border-radius: 50%;      
  padding: 10px;           
  width: 35px;            
  height: 35px;            
  border: none;            
  display: flex;           
  align-items: center;     
  justify-content: center; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#darkModeButton .fas {
  color: #ffffff; 
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

footer {
    background-color: #292c2f;
}



/*Carrito*/
.submenu {
  position: relative;
  
}
.submenu #carrito{
  display: none;
}
.submenu:hover #carrito{
  display: block;
  position: absolute;
  right:0;
  top:100%;
  z-index: 1;
  background-color: white;
  padding: 20px;
  min-height: 400px;
  min-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.submenu .btnVaciar{
  background-color: #fff;
  padding: 0.5rem 6rem;
  border: #000 solid 0.1rem;
  color: #000;
  width: 100%;
}
#carrito table {
  width: 100%;
}

#carrito th, #carrito td {
  padding: 0 0.6rem 1.5rem; 
  text-align: right; 
}

.borrar-curso {
  background-color: #ff0202;
  border-radius: 50%;
  padding: 5px 10px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

/*Cards*/

.titulo{
  text-align: center;
  margin-top: 2rem;
}

.cursos{
  width: 100vw;
  margin: 4rem auto;
 
}

.caja{
  background-color: #ffffff;
  padding: 1rem;
  margin: 1rem;
}
.caja__img{
  width: 100%;
}
.info{
  padding: 1rem;
  line-height: 1.3rem;
}
.info__titulo{
  font-weight: bold;
  font-size: 1.1rem;

}
.info__nombre{
  margin-bottom: 0
}
.precio{
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}
.precio__last{
  text-decoration: line-through;
}
.precio__now{
  font-size: 1.3rem;
  font-weight: bold;
}
.boton{
  border: none;
  background-color: #33c3f0;
  padding: 0.5rem;
  border-radius: 0.3rem;
  width: 100%;
  color: #fff;

}
.boton:hover{
  background-color: #31b8e1;

}
.boton:active{
  background-color: #33c3f0;


}


/***** Medias querys *****/ 


@media (max-width: 768px) {
  .nav-link .badge {
    width: 20px;
    height: 20px;
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
  }
  

  #darkModeButton {
    margin: 0 auto;
    margin-top: 10px;
    width: 35px; 
    height: 35px;
  }

  #darkModeIcon {
    font-size: 16px; 
  }

  .navbar-nav {
    flex-direction: column;
  }

  .navbar .logo {
    margin: 0 auto;
  }

  .nav-link {
    padding-right: 0;
    margin-bottom: 10px; 
  }
}


@media (min-width: 769px) {
  .nav-link .badge {
    width: 20px;
    height: 20px;
    
    line-height: 15px;
    text-align: center;
    border-radius: 50%;
  }
  

  #darkModeButton {
    margin-left: auto; 
    width: 40px; 
    height: 40px;
    margin-bottom: 10px; 
  }

  #darkModeIcon {
    font-size: 18px; 
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    padding-right: 20px;
    margin-bottom: 10px; 
  }
}



@media (min-width: 768px){
    .cursos{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 80vw;
      place-items: center;
      row-gap: 1rem;
      column-gap: 1rem;
    }
    .caja{
      margin: 0;
    }
}
@media (min-width: 1140px){
  .cursos{
    grid-template-columns: repeat(3, 1fr);
    width: 75vw;
  }
  
}

@media (max-width: 34em) {
  body {
    margin-bottom: 550px;
  }
  .footer {
    height: 50px;
  }
}




 

  
 
